$color-light: #FFFFFF;
$color-dark: #000000;
$color-bg: #131314;
$color-input-text: #1C1C1C;
$color-input-border: #C9CCD4;
$color-accent: #0AD9C6;
$color-hamburger-open: #141517;
$color-nav-bg: #F6F6F6;
$color-nav-link: #48494D;
$color-header: #1F1F1F;
$color-bg-semilight: #F6F7F9;
$color-video-bg: #131313;

$tablet-max-width: 1023px;
$mobile-max-width: 767px;
