.button {
  padding: 15px 0;
  border: 0;
  border-radius: 6px;
  color: $color-dark;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  background-color: $color-accent;
}
