.decoration {
  position: relative;

  &--circle-big {
    @include pseudo {
      top: 49%;
      left: -60px;
      width: 180px;
      height: 180px;
      margin: 0;
      padding: 0;
      border: 27px solid $color-accent;
      border-radius: 50%;
      transform: translateY(-50%);

      @media (max-width: $tablet-max-width) {
        top: auto;
        bottom: -29px;
        left: -37px;
        width: 127px;
        height: 127px;
        border-width: 18px;
        transform: translateY(0);
      }
    }
  }

  &--square {
    @include pseudo {
      z-index: 2;
      top: -18px;
      left: -19px;
      width: 47px;
      height: 47px;
      border: 8px solid $color-accent;

      @media (max-width: $tablet-max-width) {
        display: none;
      }
    }

    @include pseudo (after) {
      z-index: 2;
      right: -23px;
      bottom: -23px;
      width: 47px;
      height: 47px;
      border: 8px solid $color-accent;

      @media (max-width: $tablet-max-width) {
        display: none;
      }
    }
  }

  &--circle-small {
    @include pseudo {
      z-index: 2;
      top: 16px;
      right: -36px;
      width: 95px;
      height: 95px;
      margin: 0;
      padding: 0;
      border: 17px solid $color-accent;
      border-radius: 50%;
      transform: translateY(-50%);

      @media (max-width: $tablet-max-width) {
        top: 15px;
        right: -25px;
        width: 68px;
        height: 68px;
        border-width: 13px;
      }
    }
  }
}
