.nav {
  position: relative;
  z-index: 1;
  // margin-right: -85px;

  @media (max-width: $tablet-max-width) {
    display: none;
    position: absolute;
    z-index: 10;
    transition: 5s opacity ease;
    margin-right: 0;
  }

  &--active {
    background-color: $color-light;
    position: fixed;
    display: block;
    height: 100vh;
    overflow-y: scroll;
  }

  &--nojs {
    display: block;
    position: relative;
  }
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  padding-top: 21px;
  padding-bottom: 9px;
  border-bottom: 1px solid rgba($color-light, 0.2);
  list-style: none;
  column-gap: 85px;

  @media (max-width: $tablet-max-width) {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 100vw;
    padding-top: 100px;
    column-gap: 0;
    background-color: $color-light;
  }
}

.nav__item {
  // margin-right: 85px;

  @media (max-width: $tablet-max-width) {
    margin-right: 0;
  }
}

.nav__item a {
  position: relative;
  padding: 8px 25px;
  color: rgba($color-light, 0.7);
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  text-decoration: none;
  letter-spacing: -0.01em;

  @media (max-width: $tablet-max-width) {
    padding: 17px 16px;
    display: block;
    width: 100%;
    margin-bottom: 30px;
    color: $color-nav-link;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    background-color: $color-nav-bg;

    @include pseudo {
      top: 50%;
      right: 24px;
      width: 25px;
      height: 25px;
      background-color: $color-nav-bg;
      background-image: url("../img/icon-arrow-link.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 8px 12px;
      transform: translateY(-50%);
    }
  }

  &:hover {
    color: $color-accent;
  }

  &:focus {
    outline: 3px solid $color-accent;
  }
}
