.nav {
  position: relative;
  z-index: 1;

  @media (max-width: $tablet-max-width) {
    display: none;
    position: absolute;
    z-index: 999;
    transition: 5s opacity ease;
  }

  &--active {
    background-color: $color-light;
    position: fixed;
    display: block;
    min-height: 300vh;
  }

  &--nojs {
    display: block;
    position: relative;
  }
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid rgba($color-light, 0.2);
  margin: 0;
  padding: 0;
  padding-top: 21px;
  padding-bottom: 9px;
  list-style: none;

  @media (max-width: $tablet-max-width) {
    flex-wrap: nowrap;
    padding-top: 100px;
    justify-content: flex-start;
    width: 100vw;
    flex-direction: column;
    background-color: $color-light;
  }
}

.nav__item a {
  padding: 8px 25px;
  color: rgba($color-light, 0.7);
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  text-decoration: none;
  letter-spacing: -0.005em;

  @media (max-width: $tablet-max-width) {
    padding: 17px 16px;
    display: block;
    width: 100%;
    margin-bottom: 30px;
    color: $color-nav-link;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    background-color: $color-nav-bg;
  }

  &:hover {
    color: $color-accent;
  }

  &:focus {
    outline: 3px solid $color-accent;
  }
}
